<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMPS278 project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>


<body>
    <!-- header with logo.png from the public image folder on the right and a title under the logo -->
    <header>
        <a href="/" class="logo">
            <img src="/images/logo.png">
            <span class="fontsmall">Landscape Design &amp; Ecosystem Management</span>
            <span class="fontnormal">Faculty of Agriculture &amp; Food Sciences</span>
            <span class="fontbig">AUB Landscape Plant Database</span>
        </a>


    </header>
    
    <main>
        
        <nav class= "flex"> 
            <div class="navh">

                <ul>
                    <li><a href="/admin">Search Plants</a></li>
                    <li><a href="/admin/addplant">Add Plants</a></li>
                    
                    
                </ul>
            </div>

        </nav>

        <div class="flex2 maincont">
            

            <div div class="box">
                
                <%- body %>


            </div>
   
            


        </div>

        

        


    </main>

    <footer >
        <!-- nav bar with an image under it-->
        <nav>
            <div class="navfoot">
                <ul>
                    
                    <li><a href="/">Copyright</a></li>
                    <li><a href="/">Citing the Plant Database</a></li>
                    <li><a href="/">Acknowledgements</a></li>
                    <li><a href="/contact.html">Contact Us</a></li>
                </ul>
            </div>
        </nav>
            
        
    </footer>
    

</body>



    

</html>