<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMPS278 project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>


<body>
    <!-- Using Bootstrap create a header with a logo that wraps around the logo  -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="/" class="logo">
                       
                        <img src="/images/logo.png" alt="logo" class="img-responsive">
                    </a>
                    <!-- Place a Small heading under the img-->
                    <h6 class="fontsmall">Landscape Design &amp; Ecosystem Management</h6>
                    <h6 class="fontnormal">Faculty of Agriculture &amp; Food Sciences</h6>
                    
                </div>
                
              
                


            </div>

                <!--  bootstrap nav bar under the logo-->
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">AUB Landscape Plant Database</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/Links">Useful Links</a></li>
                                <li><a href="/gallery">Image Gallery</a></li>
                                <li><a href="/Category">Popular Plants</a></li>
                                <li><a href="/Glossary">Glossary</a></li>
                                <li><a href="/Contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                            
                            
                
        </div>
    </header>
    
    
    <!-- Main content area-->
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                      <%- body %>
                </div>
            </div>
        </div>
    </main>

                
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>AUB Landscape Plant Database
            </h6>
            <p>
               This is our project for the CMPS278 course. It is a clone of the AUB landscape website.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-4 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful Links
            </h6>
            <p>
              <a href="#!" class="text-reset">&#169 Copyright</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Citing the Plant Database</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Acknowledgements</a>
            </p>
            <p>
              <a href="/Contact" class="text-reset">Contact Us</a>
            </p>
          </div>
          <!-- Grid column -->
  
         
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Created By
            </h6>
            <p> Michel Fawaz</p>
            <p>
             
              Carlos Eid
            </p>
            <p> Lana Tawil</p>
            
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
 
  </footer>
  <!-- Footer -->
   
    


   


</body>
    

</html>