
<div>
    <!-- input commonName or ScientificName form and search-->
    <h3>Search for Plants</h3>
    <form action="/admin/Search" method="post">
        <input type="text" name="search" placeholder="Search by common name or scientific name">
        <input type="submit" value="Search">
    </form>
</div>


