
<div>
    <!-- input commonName or ScientificName form and search-->
    <h3>Search for Plants</h3>
    <form action="/admin/SearchByName" method="post">
        <!-- label -->

        <label for="commonName">Search By Common Name</label>
        <input type="text" name="searchCommon" placeholder="Enter name ...">
        <br>
        <label for="commonName">Search By Common Name</label>

        <input type="text" name="searchScientific" placeholder="Enter name ...">
        <input type="submit" value="Search">
    </form>
</div>

<div class="alphaSearch">
    
    <h4>Search Plants Alphabetically</h4>
    <ul>
        <li><a href="/admin/SearchByLetter/a">A</a></li>
        <li><a href="/admin/SearchByLetter/b">B</a></li>
        <li><a href="/admin/SearchByLetter/c">C</a></li>
        <li><a href="/admin/SearchByLetter/d">D</a></li>
        <li><a href="/admin/SearchByLetter/e">E</a></li>
        <li><a href="/admin/SearchByLetter/f">F</a></li>
        <li><a href="/admin/SearchByLetter/g">G</a></li>
        <li><a href="/admin/SearchByLetter/h">H</a></li>
        <li><a href="/admin/SearchByLetter/i">I</a></li>
        <li><a href="/admin/SearchByLetter/j">J</a></li>
        <li><a href="/admin/SearchByLetter/k">K</a></li>
        <li><a href="/admin/SearchByLetter/l">L</a></li>
        <li><a href="/admin/SearchByLetter/m">M</a></li>
        <li><a href="/admin/SearchByLetter/n">N</a></li>
        <li><a href="/admin/SearchByLetter/o">O</a></li>
        <li><a href="/admin/SearchByLetter/p">P</a></li>
        <li><a href="/admin/SearchByLetter/q">Q</a></li>
        <li><a href="/admin/SearchByLetter/r">R</a></li>
        <li><a href="/admin/SearchByLetter/s">S</a></li>
        <li><a href="/admin/SearchByLetter/t">T</a></li>
        <li><a href="/admin/SearchByLetter/u">U</a></li>
        <li><a href="/admin/SearchByLetter/v">V</a></li>
        <li><a href="/admin/SearchByLetter/w">W</a></li>
        <li><a href="/admin/SearchByLetter/x">X</a></li>
        <li><a href="/admin/SearchByLetter/y">Y</a></li>
        <li><a href="/admin/SearchByLetter/z">Z</a></li>
    </ul>

</div>



