<!-- contact us form with a captcha for bots-->
<form action="/Contacted" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
    </div>


    <div class="form-group">
        <label for="Email">Email address</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="Company">Company</label>
        <input type="text" class="form-control" name="company" aria-describedby="emailHelp" placeholder="Enter Company">
        
    </div>

    <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" name="message" rows="3" style="max-width: 100%;"></textarea>
    </div>


    <div class="form-group">
    <div class="g-recaptcha" data-sitekey="6LeVPlsdAAAAAEeH2NHQeCgt-hDVhB5FY43MCl-J" data-callback="recaptcha_callback"></div>
    </div>
    
    

    
    
    <button type="submit" id="submitbtn" class="btn btn-primary" disabled>Submit</button>
</form>

<script>

function recaptcha_callback() {
   var submitbtn = document.querySelector('#submitbtn');
   submitbtn.removeAttribute("disabled");
}

</script>