<h1>Image Gallery</h1>
<div class= "navgal">
    <ul>
        <li>Select Plant Type: </li>
        <li><a href="/Gallery">All Types</a></li>
        <li><a href="/Gallery/groundcover">Ground Covers</a></li>
        <li><a href="/Gallery/lawn">Lawn</a></li>
        <li><a href="/Gallery/palm">Palm</a></li>
        <li><a href="/Gallery/shrub">Shrub</a></li>
        <li><a href="/Gallery/tree">Tree</a></li>
        <li><a href="/Gallery/vine">Vine</a></li>
        
    </ul>
</div>
<div class="Galgrid">
    <% for (var i = 0; i < plant.length; i++) { %>
    <div class= "Gallery">
    
    
        <!-- usinga grid display all the plants images and names under the image-->
        <div class="row">
            <div class="col-md-4">
                
                <div class = "AdminSearchRe">
                    
                    
                    <!--only show the first image-->
                    <% for (var z = 0; z < plant[i].image.length; z++) { %>
                        <% if (z == 0) { %>
                            <img class="imggal" src="/uploads/<%= plant[i].image[z]%>" class="image">
        
                            <% } %>
                    
                        <% } %>
                        <a href="/PlantProfile/<%= plant[i].CommonName %>">
                            <h4><%= plant[i].CommonName %> <br></h4>
                        </a>
                </div>
                
            </div>
        </div>
    </div>
    <% } %>

</div>









