<h1>Image Gallery</h1>
<div class= "navgal">
    <ul>
        <li>Select Plant Type: </li>
        <li><a href="/Gallery">All Types</a></li>
        <li><a href="/Gallery/cactus">Cactus</a></li>
        <li><a href="/Gallery/groundcover">Ground Covers</a></li>
        <li><a href="/Gallery/lawn">Lawn</a></li>
        <li><a href="/Gallery/palm">Palm</a></li>
        <li><a href="/Gallery/shrub">Shrub</a></li>
        <li><a href="/Gallery/tree">Tree</a></li>
        <li><a href="/Gallery/vine">Vine</a></li>
        
    </ul>
</div>
<!-- bootstrap Responsive image grid for loop-->
<div class="container">
    <div class="row">

    <% for (var i = 0; i < plant.length; i++) { %>
        <div class="col-md-4 galcont">
            
                <% if (plant[i].image !=null ) { %>
                    <% for (var z = 0; z < plant[i].image.length; z++) { %>
                        <% if (z == 0) { %>
                <a href="/PlantProfile/<%= plant[i].CommonName %>">
                    <img class="imggal" src="/uploads/<%= plant[i].image[z]%>">
                </a> <% } %>
                <% } %>
                <% } %>

                <div class="caption">
                    <h4 class='h4gal'><%= plant[i].CommonName %></h4>
                </div>
            
        </div>

    <% } %>
    </div>
</div>

   
   







