
<h1>Glossary</h1>
<div class="addplant">
    <div class="alphaSearch">
                
        <h4>Search The Glossary</h4>
        <ul>
            <li>
                <a data-toggle="tab"  href="#a">A</a>
            </li>
            <li>
                <a data-toggle="tab" href="#b">B</a>
            </li>
            <li>
                <a data-toggle="tab" href="#c">C</a>
            </li>
            <li>
                <a data-toggle="tab" href="#d">D</a>
            </li>
            <li>
                <a data-toggle="tab" href="#e">E</a>
            </li>
            <li>
                <a data-toggle="tab" href="#f">F</a>
            </li>
            <li>
                <a data-toggle="tab" href="#g">G</a>
            </li>
            <li>
                <a data-toggle="tab" href="#h">H</a>
            </li>
            <li>
                <a data-toggle="tab" href="#i">I</a>
            </li>
            <li>
                <a data-toggle="tab" href="#j">J</a>
            </li>
            <li>
                <a data-toggle="tab" href="#k">K</a>
            </li>
            <li>
                <a data-toggle="tab" href="#l">L</a>
            </li>
            <li>
                <a data-toggle="tab" href="#m">M</a>
            </li>
            <li>
                <a data-toggle="tab" href="#n">N</a>
            </li>
            <li>
                <a data-toggle="tab" href="#o">O</a>
            </li>
            <li>
                <a data-toggle="tab" href="#p">P</a>
            </li>
            <li>
                <a data-toggle="tab" href="#q">Q</a>
            </li>
            <li>
                <a data-toggle="tab" href="#r">R</a>
            </li>
            <li>
                <a data-toggle="tab" href="#s">S</a>
            </li>
            <li>
                <a data-toggle="tab" href="#t">T</a>
            </li>
            <li>
                <a data-toggle="tab" href="#u">U</a>
            </li>
            <li>
                <a data-toggle="tab" href="#v">V</a>
            </li>
            <li>
                <a data-toggle="tab" href="#w">W</a>
            </li>
            <li>
                <a data-toggle="tab" href="#x">X</a>
            </li>
            <li>
                <a data-toggle="tab" href="#y">Y</a>
            </li>
            <li>
                <a data-toggle="tab" href="#z">Z</a>
            </li>
        
        </ul>
    
    </div>

    
   

    

    <div class="tab-content">
        <div id="a" class="tab-pane fade in active">
            <h3>No content yet</h3>
            


         
        </div>


        <div id="b" class="tab-pane fade">
 
                <span><b>Bloom:  </b></span><span>A waxy, white covering on leaves or fruit; a name for the flowering part of a plant.</span>
   
         


        </div>


        <div id="c" class="tab-pane fade">
            <span><b>C glossary  </b></span><span> words coming soon</span>
   
         
        </div>


        <div id="d" class="tab-pane fade">
            <span><b>D glossary  </b></span><span> words coming soon</span>
            
         
        </div>


        <div id="e" class="tab-pane fade">
            <span><b>E glossary  </b></span><span> words coming soon</span>

         
        </div>


        <div id="f" class="tab-pane fade">
            <span><b>F glossary  </b></span><span> words coming soon</span>
         
        </div>


        <div id="g" class="tab-pane fade">
            <span><b>G glossary  </b></span><span> words coming soon</span>

         
        </div>

        <div id="h" class="tab-pane fade">
            <span><b>H glossary  </b></span><span> words coming soon</span>
          </div>

        <div id="i" class="tab-pane fade">
            <span><b>I glossary  </b></span><span> words coming soon</span>
         
            </div>

        <div id="j" class="tab-pane fade">
            <span><b>J glossary  </b></span><span> words coming soon</span>
         </div>
        <div id="k" class="tab-pane fade">
            <span><b>K glossary  </b></span><span> words coming soon</span>
        </div>

        <div id="l" class="tab-pane fade">
            <span><b>L glossary  </b></span><span> words coming soon</span>

        </div>

        <div id="m" class="tab-pane fade">
            <span><b>M glossary  </b></span><span> words coming soon</span>
         
        </div>

        <div id="n" class="tab-pane fade">
            <span><b>N glossary  </b></span><span> words coming soon</span>

         
        </div>

        <div id="o" class="tab-pane fade">
            <span><b>O glossary  </b></span><span> words coming soon</span>

         
        </div>

        <div id="p" class="tab-pane fade">
            <span><b>P glossary  </b></span><span> words coming soon</span>

         
        </div>

        <div id="q" class="tab-pane fade">
            <span><b>Q glossary  </b></span><span> words coming soon</span>
         
        </div>

        <div id="r" class="tab-pane fade">
            <span><b>R glossary  </b></span><span> words coming soon</span>
         
        </div>

        <div id="s" class="tab-pane fade">
            <span><b>S glossary  </b></span><span> words coming soon</span>
         
        </div>

        <div id="t" class="tab-pane fade">
            <span><b>T glossary  </b></span><span> words coming soon</span>

        </div>

        <div id="u" class="tab-pane fade">
            <span><b>U glossary  </b></span><span> words coming soon</span>
        </div>

        <div id="v" class="tab-pane fade">
            <span><b>V glossary  </b></span><span> words coming soon</span>

        </div>

        <div id="w" class="tab-pane fade">
            <span><b>W glossary  </b></span><span> words coming soon</span>
         
        </div>
        
        <div id="x" class="tab-pane fade">
            <span><b>X glossary  </b></span><span> words coming soon</span>
         
        </div>

        <div id="y" class="tab-pane fade">
            <span><b>Y glossary  </b></span><span> words coming soon</span>
         
        </div>

        <div id="z" class="tab-pane fade">
            <span><b>Z glossary  </b></span><span> words coming soon</span>
            
         
        </div>
        
            
    </div>
   



    
    
</div>










            


    

    

    

