<div class = "  about">

    <h4>About Us</h4>
    <p>
        The Department of landscape design and ecosystem management has developed this plant database site in line with the department’s ecological orientation thus 
        the database is focusing on native, naturalized, and ecologically suitable plant species for the middle east region.
        <img src="/images/more.png">
        <a href="/about">View More</a>
     </p>

</div>

<div class="alphaSearch">
    
    <h4>Search Plants Alphabetically</h4>
    <ul>
        <li><a href="/">A</a></li>
        <li><a href="/">B</a></li>
        <li><a href="/">C</a></li>
        <li><a href="/">D</a></li>
        <li><a href="/">E</a></li>
        <li><a href="/">F</a></li>
        <li><a href="/">G</a></li>
        <li><a href="/">H</a></li>
        <li><a href="/">I</a></li>
        <li><a href="/">J</a></li>
        <li><a href="/">K</a></li>
        <li><a href="/">L</a></li>
        <li><a href="/">M</a></li>
        <li><a href="/">N</a></li>
        <li><a href="/">O</a></li>
        <li><a href="/">P</a></li>
        <li><a href="/">Q</a></li>
        <li><a href="/">R</a></li>
        <li><a href="/">S</a></li>
        <li><a href="/">T</a></li>
        <li><a href="/">U</a></li>
        <li><a href="/">V</a></li>
        <li><a href="/">W</a></li>
        <li><a href="/">X</a></li>
        <li><a href="/">Y</a></li>
        <li><a href="/">Z</a></li>
    </ul>

</div>
