
<h1>Search Plant By Criteria</h1>
<div class="addplant">


    <form id="form" action="/SearchPlantCriteria" method="post" >

        <ul class="nav nav-tabs">
            
            <li class="active"><a data-toggle="tab" href="#basic">Basic Info</a></li>
            <li><a data-toggle="tab" href="#uses">Uses</a></li>

            <li><a data-toggle="tab" href="#home">Size/Shape</a></li>
            <li><a data-toggle="tab" href="#menu1">Leaf</a></li>
            <li><a data-toggle="tab" href="#menu2">Flower</a></li>
            <li><a data-toggle="tab" href="#menu3">Trunk</a></li>
            <li><a data-toggle="tab" href="#menu4">Fruit</a></li>
            <li><a data-toggle="tab" href="#menu5">Management</a></li>
        </ul>
    
        <div class="tab-content">
            

            <div id="basic" class="tab-pane fade in active">
                <label class="labelform">Plant Type</label>
                <div class="form-group">
                    <label><input type="checkbox" name="landc3" value="cactus">Cactus/Succulent</label>
                    <label><input type="checkbox" name="landc3" value="groundcover">Ground Cover</label>
                    <label><input type="checkbox" name="landc3" value="lawn">Lawn</label>
                    <label><input type="checkbox" name="landc3" value="palm">Palm</label>
                    <label><input type="checkbox" name="landc3" value="shrub">Shrub</label>
                    <label><input type="checkbox" name="landc3" value="tree">Tree</label>
                    <label><input type="checkbox" name="landc3" value="vine">Vine</label>
                </div>

                <div class="form-group">
                    <label for="hortc3">Light Requirements</label>

                    <div class="form-group">
                        <label><input type="checkbox" name="hortc3" value="Full">Full</label>
                        <label><input type="checkbox" name="hortc3" value="Part">Part</label>
                    
                        
                        
                    </div>
        
                    
                </div>


                <div class="form-group">
                    <label for="hortc4" class="labelform">Water Requirement</label><br>
                
                    
                    <input type="radio" name="hortc4" value="Low">
                    <label >Low</label>
                   
                    
                    <input type="radio"  name="hortc4" value="Moderate">
                    <label >Moderate</label>
                    
                </div>


                <div class="form-group" >
                    <label for="hortc1" class="labelform">Frost Tolerant</label><br>
                
                    
                    <input type="radio" name="hortc1" value="Yes">
                    <label >Yes</label>
                   
                    
                    <input type="radio"  name="hortc1" value="No">
                    <label >No</label>
                    
                </div>




                
                
                <div class="form-group">
                    <label for="hortc2" class="labelform">Heat Tolerant</label><br>
                
                    
                    <input type="radio" name="hortc2" value="Yes">
                    <label >Yes</label>
                   
                    
                    <input type="radio"  name="hortc2" value="No">
                    <label >No</label>
                    
                </div>



            </div>

            <div id="uses" class="tab-pane fade">
                <div class="form-group  ">
                    <label for="landc4" class="labelform">Uses: </label>
                    <!-- Plant uses drop down select with 10 options -->
                   
                    <div class="form-group">
                        <h5>Outdoor</h5>
                        <label><input  class="form-check-input" type="checkbox" name="landc4" value='Screen'>Screen</label>
                        <label><input type="checkbox" name="landc4" value='Hedge'>Hedge</label>
                        <label><input type="checkbox" name="landc4" value='Mass Planting'>Mass Planting</label>
                        <label><input type="checkbox" name="landc4" value='Specimen'>Specimen</label>
                        <label><input type="checkbox" name="landc4" value='Border Plant'>Border Plant</label>
                        <label><input type="checkbox" name="landc4" value='Street'>Street</label>
                        <br><br>

                        <h5>Specialized</h5>
                        <label><input type="checkbox" name="landc4" value='Topiary'>Topiary</label>
                        <label><input type="checkbox" name="landc4" value='Indoor'>Indoor</label>
                        <label><input type="checkbox" name="landc4" value='Bonsai'>Bonsai</label>
                        <label><input type="checkbox" name="landc4" value='Container'>Container</label>
                        <label><input type="checkbox" name="landc4" value='Espalier'>Espalier</label>
                        <label><input type="checkbox" name="landc4" value='Sports Field'>Sports Field</label>
                        <br><br>

                        <h5>Native Environment</h5>
                        <label><input type="checkbox" name="landc4"value="Shade" >Shade</label>
                        <label><input type="checkbox" name="landc4" value='Windbreak'>Windbreak</label>
                        <label><input type="checkbox" name="landc4" value='Erosion Control'>Erosion Control</label>
                        <label><input type="checkbox" name="landc4" value='Pollution Tolerant/ Urban'>Pollution Tolerant/ Urban</label>
                        <label><input type="checkbox" name="landc4" value='Reclamation'>Reclamation</label>
                        <label><input type="checkbox" name="landc4" value='Wildlife'>Wildlife</label>
                        <label><input type="checkbox" name="landc4" value='Native to Lebanon'>Native to Lebanon</label>
                        <br><br>

                        <h5>Human Use</h5>
                        <label><input type="checkbox" name="landc4" value='Edible'>Edible</label>
                        <label><input type="checkbox" name="landc4" value='Medicinal'>Medicinal</label>
                        <label><input type="checkbox" name="landc4" value='Cut Flower/ Arrangement'>Cut Flower/ Arrangement</label>
                        <br><br>

                        <h5>Building</h5>
                        <label><input type="checkbox" name="landc4" value='Intensive Green Roof'>Intensive Green Roof</label>
                        <label><input type="checkbox" name="landc4" value='Extensive Green Roof'>Extensive Green Roof</label>
                        <label><input type="checkbox" name="landc4" value='Facade'>Facade</label>

                     </div>

                    

        
                </div>


            </div>





            <div id="home" class="tab-pane fade">
                <!-- plant type 5 checkboxes with options -->
                
                <label for="landc6" class="labelform">Tree Shape</label>

                <div class="form-group">
                    <label><input type="checkbox" name="landc6" value="Weeping">Weeping</label>
                    <label><input type="checkbox" name="landc6" value="Upright">Upright/Erect</label>
                    <label><input type="checkbox" name="landc6" value="Vase">Vase</label>
                    <label><input type="checkbox" name="landc6" value="Pyramidal">Pyramidal</label>
                    <label><input type="checkbox" name="landc6" value="Rounded">Rounded</label>
                    <label><input type="checkbox" name="landc6" value="Columnar">Columnar</label>
                    <label><input type="checkbox" name="landc6" value="Oval">Oval</label>
                    <label><input type="checkbox" name="landc6" value="Palm">Palm</label>
                    <label><input type="checkbox" name="landc6" value="Spreading">Spreading</label>
                    <label></label>
                </div>
    
                
            
            
            <div>
                <label for="lanc9" class="labelform">Plant Height</label><br>
                <input type="radio" name="landc9" value="0-0.5m">
                <label>0-0.5m</label>
                <input type="radio"  name="landc9" value="0.5-1m">
                <label >0.5-1m</label> 
                <input type="radio" name="landc9" value="1-1.5m">
                <label>1-1.5m</label>
                <input type="radio"  name="landc9" value="1.5-3m">
                <label >1.5-3m</label>
                <input type="radio" name="landc9" value="3-5m">
                <label>3-5m</label>
                <input type="radio"  name="landc9" value="5-8m">
                <label >5-8m</label>
                <input type="radio" name="landc9" value="8-15m">
                <label>8-15m</label>
                <input type="radio"  name="landc9" value="15-23m">
                <label >15-23m</label>
                <input type="radio" name="landc9" value=">23m">
                <label>>23m</label>



            
            </div>

            <div>
                <label for="lanc10" class="labelform">Plant Spread</label><br>
                <input type="radio" name="landc10" value="0-0.5m">
                <label>0-0.5m</label>
                <input type="radio"  name="landc10" value="0.5-1m">
                <label >0.5-1m</label> 
                <input type="radio" name="landc10" value="1-1.5m">
                <label>1-1.5m</label>
                <input type="radio"  name="landc10" value="1.5-3m">
                <label >1.5-3m</label>
                <input type="radio" name="landc10" value="3-5m">
                <label>3-5m</label>
                <input type="radio"  name="landc10" value="5-8m">
                <label >5-8m</label>
                <input type="radio" name="landc10" value="8-10m">
                <label>8-10m</label>
                <input type="radio"  name="landc10" value="10-15m">
                <label >10-15m</label>
                <input type="radio" name="landc10" value=">15m">
                <label>>15m</label>



            
            </div>

            <div class="form-group">
                <label for="landc5" class="labelform">Growth Rate</label><br>
                <input type="radio" name="landc5" value="Slow">
                <label >Slow</label><br>
                <input type="radio"  name="landc5" value="Moderate">
                <label >Moderate</label><br>  
                <input type="radio" name="landc5" value="Fast">
                <label >Fast</label><br><br>
    
            </div>


            </div>

            <div id="menu1" class="tab-pane fade">
            <div>
                
                <label for="botc1" class="labelform">Leaf Arrangement</label><br>
                <input type="radio" name="botc1" value="Alternate">
                <label >Alternate</label>
                <input type="radio"  name="botc1" value="Spiral">
                <label >Spiral</label>
                <input type="radio" name="botc1" value="Opposite">
                <label >Opposite</label>
                <input type="radio" name="botc1" value="Whorled">
                <label >Whorled</label><br>
            </div>
            <div>
                <label for="botc2" class="labelform">Leaf Persistence</label><br>
                <input type="radio" name="botc2" value="Evergreen">
                <label >Evergreen</label>
                <input type="radio"  name="botc2" value="Semi Evergreen">
                <label >Semi Evergreen</label>
                <input type="radio" name="botc2" value="Decidious">
                <label >Decidious</label><br>
                
            </div>
            <div>
                <label for="botc3" class="labelform">Color Growing Season</label><br>
                <input type="radio" name="botc3" value="Green">
                <label >Green</label>
                <input type="radio"  name="botc3" value="Yellow">
                <label >Yellow</label>
                <input type="radio" name="botc3" value="Silver">
                <label >Silver</label>
                <input type="radio" name="botc3" value="Red">
                <label >Red</label>
                <input type="radio" name="botc3" value="Purple">
                <label >Purple</label>
                <input type="radio" name="botc3" value="Blue">
                <label >Blue</label>
                <input type="radio" name="botc3" value="Variegated">
                <label >Variegated</label>

                
                
            </div>

            <div>
                <label for="botc4" class="labelform">Color Changing Season</label><br>
                <input type="radio" name="botc4" value="Green">
                <label >Green</label>
                <input type="radio"  name="botc4" value="Yellow">
                <label >Yellow</label>
                <input type="radio" name="botc4" value="Silver">
                <label >Silver</label>
                <input type="radio" name="botc4" value="Red">
                <label >Red</label>
                <input type="radio" name="botc4" value="Purple">
                <label >Purple</label>
                <input type="radio" name="botc4" value="Blue">
                <label >Blue</label>
                <input type="radio" name="botc4" value="Brown">
                <label >Brown</label>

            </div>
            </div>

            <div id="menu2" class="tab-pane fade">
            <div>
                <label for="botc5" class="labelform">Flower Color</label>

                <div class="form-group">
                    <label><input type="checkbox" name="botc5" value="White">White</label>
                    <label><input type="checkbox" name="botc5" value="Pink">Pink</label>
                    <label><input type="checkbox" name="botc5" value="Purple">Purple</label>
                    <label><input type="checkbox" name="botc5" value="Blue">Blue</label>
                    <label><input type="checkbox" name="botc5" value="Red">Red</label>
                    <label><input type="checkbox" name="botc5" value="Green">Green</label>
                    <label><input type="checkbox" name="botc5" value="Yellow">Yellow</label>
                    <label><input type="checkbox" name="botc5" value="Orange">Orange</label>
                    <label><input type="checkbox" name="botc5" value="Brown">Brown</label>
                    <label></label>
                </div>
    
                
            </div>


            <div>
                <label for="botc6" class="labelform">Flower Scent</label><br>
                <input type="radio" name="botc6" value="Pleasant">
                <label >Pleasant</label>
                <input type="radio"  name="botc6" value="Unpleasant">
                <label >Unpleasant</label>
                <input type="radio" name="botc6" value="No Fragrance">
                <label >No Fragrance</label>
                
            </div>

           

            <div>
                <label for="botc7" class="labelform">Flower Seasons</label>

                <div class="form-group">
                    <label><input type="checkbox" name="botc7" value="Spring">Spring</label>
                    <label><input type="checkbox" name="botc7" value="Winter">Winter</label>
                    <label><input type="checkbox" name="botc7" value="Summer">Summer</label>
                    <label><input type="checkbox" name="botc7" value="Fall">Fall</label>
                    <label><input type="checkbox" name="botc7" value="All year">All year</label>
                    
                    
                </div>
    
                
            </div>

            <div>
                <label for="botc8" class="labelform">Showiness</label><br>
                <input type="radio" name="botc8" value="Yes">
                <label >Yes</label>
                
                <input type="radio"  name="botc8" value="No">
                <label >No</label>
                
            </div>
            </div>

            <div id="menu3" class="tab-pane fade">
            <div>
                <label for="botc9" class="labelform">Trunk Esthetic Value</label>

                <div class="form-group">
                    <label><input type="checkbox" name="botc9" value="Showy">Showy</label>
                    <label><input type="checkbox" name="botc9" value="Not showy">Not showy</label>
                    <label><input type="checkbox" name="botc9" value="Smooth texture">Smooth texture</label>
                    <label><input type="checkbox" name="botc9" value="Rough">Rough</label>
                    <label><input type="checkbox" name="botc9" value="Papery">Papery</label>
                    
                    
                </div>
    
                
            </div>

            <div>
                <label for="botc10" class="labelform">Number of Trunks</label><br>
                <input type="radio" name="botc10" value="Single">
                <label >Single</label>
                
                <input type="radio"  name="botc10" value="Multi">
                <label >Multi</label>
                
            </div>
             </div>
        <div id="menu4" class="tab-pane fade">
            <div>
                <label for="botc11" class="labelform">Fruit Showiness</label><br>
                <input type="radio" name="botc11" value="Yes">
                <label >Yes</label>
                
                <input type="radio"  name="botc11" value="No">
                <label >No</label>
                
            </div>

            <div>
                <label for="botc12" class="labelform">Fruit Color</label>

                <div class="form-group">
                    <label><input type="checkbox" name="botc12" value="White">White</label>
                    <label><input type="checkbox" name="botc12" value="Pink">Pink</label>
                    <label><input type="checkbox" name="botc12" value="Purple">Purple</label>
                    <label><input type="checkbox" name="botc12" value="Blue">Blue</label>
                    <label><input type="checkbox" name="botc12" value="Red">Red</label>
                    <label><input type="checkbox" name="botc12" value="Green">Green</label>
                    <label><input type="checkbox" name="botc12" value="Yellow">Yellow</label>
                    <label><input type="checkbox" name="botc12" value="Orange">Orange</label>
                    <label><input type="checkbox" name="botc12" value="Brown">Brown</label>
                    <label><input type="checkbox" name="botc12" value="Gray">Gray</label>
                    <label><input type="checkbox" name="botc12" value="Black">Black</label>
                    
                </div>
    
                
            </div>
            <div>
                <label for="botc13" class="labelform">Fruit Size</label><br>
                <input type="radio" name="botc13" value="0-1.5m">
                <label>0-0.5m</label>
                <input type="radio"  name="botc13" value="1.5-3m">
                <label>1.5-3m</label>
                <input type="radio" name="botc13" value="3-7m">
                <label>3-7m</label>
                <input type="radio" name="botc13" value="7-10m">
                <label>7-10m</label>
                <input type="radio" name="botc13" value="10-20m">
                <label>10-20m</label>
                <input type="radio" name="botc13" value=">20m">
                <label>>20m</label>

            </div>

            <div>
                <label for="botc14" class="labelform">Seasons</label>

                <div class="form-group">
                    <label><input type="checkbox" name="botc14" value="Spring">Spring</label>
                    <label><input type="checkbox" name="botc14" value="Winter">Winter</label>
                    <label><input type="checkbox" name="botc14" value="Summer">Summer</label>
                    <label><input type="checkbox" name="botc14" value="Fall">Fall</label>
                    <label><input type="checkbox" name="botc14" value="All year">All year</label>
                    
                    
                </div>
    
                
            </div>

            <div>
                <label for="botc15" class="labelform">Fruit Type</label><br>
                <input type="radio" name="botc11" value="Dry">
                <label >Dry</label>
               
                
                <input type="radio"  name="botc15" value="Fleshy">
                <label >Fleshy</label>
                
            </div>
            </div>

            <div id="menu5" class="tab-pane fade">

                <div class="form-group">
                    <label for="hortc6" class="labelform">Invasive</label><br>
                
                    
                    <input type="radio" name="hortc6" value="Yes">
                    <label >Yes</label>
                   
                    
                    <input type="radio"  name="hortc6" value="No">
                    <label >No</label>
                    
                    
                </div>
                <div class="form-group">
                    <label for="hortc7" class="labelform">Suseptibility to diseases</label><br>
                
                    
                    <input type="radio" name="hortc7" value="Yes">
                    <label >Yes</label>
                   
                    
                    <input type="radio"  name="hortc7" value="No">
                    <label >No</label>
                    
                    
                </div>

                <div class="form-group">
                    <label for="hortc8" class="labelform">Fruit / leaves Flower Litter</label><br>
                
                    
                    <input type="radio" name="hortc8" value="Yes">
                    <label >Yes</label>
                   
                    
                    <input type="radio"  name="hortc8" value="No">
                    <label >No</label>
                    
                    
                </div>

                <div class="form-group">
                    <label for="hortc9" class="labelform">Surface Rooting</label><br>
                
                    
                    <input type="radio" name="hortc9" value="Yes">
                    <label >Yes</label>
                   
                    
                    <input type="radio"  name="hortc9" value="No">
                    <label >No</label>
                    
                    
                </div>

                <div class="form-group">
                    <label for="hortc10" class="labelform">Life Span</label><br>
                
                    
                    <input type="radio" name="hortc10" value="<25">     
                    <label >25</label>
                    <input type="radio"  name="hortc10" value="25-50">
                    <label >25-50</label>
                    <input type="radio" name="hortc10" value="50<">
                    <label >50<</label>

                 
                    
                    
                </div>




            </div>




        
       

            
  
   



    
        <button type="submit" id = "add">Submit</button>
    </form>
</div>
            



    

