
<h1>Identify a Plant</h1>
<div class="addplant">


    <form action="/SearchPlantIdentity" method="post">
    
   

   
                <!-- plant type 5 checkboxes with options -->
                <label class="labelform">Plant Type</label>
                <div class="form-group">
                    <label><input type="checkbox" name="landc3" value="cactus">Cactus/Succulent</label>
                    <label><input type="checkbox" name="landc3" value="groundcover">Ground Cover</label>
                    <label><input type="checkbox" name="landc3" value="lawn">Lawn</label>
                    <label><input type="checkbox" name="landc3" value="palm">Palm</label>
                    <label><input type="checkbox" name="landc3" value="shrub">Shrub</label>
                    <label><input type="checkbox" name="landc3" value="tree">Tree</label>
                    <label><input type="checkbox" name="landc3" value="vine">Vine</label>
                </div>
                <label for="landc6" class="labelform">Tree Shape</label>

                <div class="form-group">
                    <label><input type="checkbox" name="landc6" value="Weeping">Weeping</label>
                    <label><input type="checkbox" name="landc6" value="Upright">Upright/Erect</label>
                    <label><input type="checkbox" name="landc6" value="Vase">Vase</label>
                    <label><input type="checkbox" name="landc6" value="Pyramidal">Pyramidal</label>
                    <label><input type="checkbox" name="landc6" value="Rounded">Rounded</label>
                    <label><input type="checkbox" name="landc6" value="Columnar">Columnar</label>
                    <label><input type="checkbox" name="landc6" value="Oval">Oval</label>
                    <label><input type="checkbox" name="landc6" value="Palm">Palm</label>
                    <label><input type="checkbox" name="landc6" value="Spreading">Spreading</label>
                    <label></label>
                </div>
    
                
            
            
            <div>
                <label for="lanc9" class="labelform">Plant Height</label><br>
                <input type="radio" name="landc9" value="0-0.5m">
                <label>0-0.5m</label>
                <input type="radio"  name="landc9" value="0.5-1m">
                <label >0.5-1m</label> 
                <input type="radio" name="landc9" value="1-1.5m">
                <label>1-1.5m</label>
                <input type="radio"  name="landc9" value="1.5-3m">
                <label >1.5-3m</label>
                <input type="radio" name="landc9" value="3-5m">
                <label>3-5m</label>
                <input type="radio"  name="landc9" value="5-8m">
                <label >5-8m</label>
                <input type="radio" name="landc9" value="8-15m">
                <label>8-15m</label>
                <input type="radio"  name="landc9" value="15-23m">
                <label >15-23m</label>
                <input type="radio" name="landc9" value=">23m">
                <label>>23m</label>



            
            </div>

            <div>
                <label for="lanc10" class="labelform">Plant Spread</label><br>
                <input type="radio" name="landc10" value="0-0.5m">
                <label>0-0.5m</label>
                <input type="radio"  name="landc10" value="0.5-1m">
                <label >0.5-1m</label> 
                <input type="radio" name="landc10" value="1-1.5m">
                <label>1-1.5m</label>
                <input type="radio"  name="landc10" value="1.5-3m">
                <label >1.5-3m</label>
                <input type="radio" name="landc10" value="3-5m">
                <label>3-5m</label>
                <input type="radio"  name="landc10" value="5-8m">
                <label >5-8m</label>
                <input type="radio" name="landc10" value="8-10m">
                <label>8-10m</label>
                <input type="radio"  name="landc10" value="10-15m">
                <label >10-15m</label>
                <input type="radio" name="landc10" value=">15m">
                <label>>15m</label>



            
            </div>

    
            <div>
                
                <label for="botc1" class="labelform">Leaf Arrangement</label><br>
                <input type="radio" name="botc1" value="Alternate">
                <label >Alternate</label>
                <input type="radio"  name="botc1" value="Spiral">
                <label >Spiral</label>
                <input type="radio" name="botc1" value="Opposite">
                <label >Opposite</label>
                <input type="radio" name="botc1" value="Whorled">
                <label >Whorled</label><br>
            </div>
            <div>
                <label for="botc2" class="labelform">Leaf Persistence</label><br>
                <input type="radio" name="botc2" value="Evergreen">
                <label >Evergreen</label>
                <input type="radio"  name="botc2" value="Semi Evergreen">
                <label >Semi Evergreen</label>
                <input type="radio" name="botc2" value="Decidious">
                <label >Decidious</label><br>
                
            </div>
            <div>
                <label for="botc3" class="labelform">Color Growing Season</label><br>
                <input type="radio" name="botc3" value="Green">
                <label >Green</label>
                <input type="radio"  name="botc3" value="Yellow">
                <label >Yellow</label>
                <input type="radio" name="botc3" value="Silver">
                <label >Silver</label>
                <input type="radio" name="botc3" value="Red">
                <label >Red</label>
                <input type="radio" name="botc3" value="Purple">
                <label >Purple</label>
                <input type="radio" name="botc3" value="Blue">
                <label >Blue</label>
                <input type="radio" name="botc3" value="Variegated">
                <label >Variegated</label>

                
                
            </div>

            <div>
                <label for="botc4" class="labelform">Color Changing Season</label><br>
                <input type="radio" name="botc4" value="Green">
                <label >Green</label>
                <input type="radio"  name="botc4" value="Yellow">
                <label >Yellow</label>
                <input type="radio" name="botc4" value="Silver">
                <label >Silver</label>
                <input type="radio" name="botc4" value="Red">
                <label >Red</label>
                <input type="radio" name="botc4" value="Purple">
                <label >Purple</label>
                <input type="radio" name="botc4" value="Blue">
                <label >Blue</label>
                <input type="radio" name="botc4" value="Brown">
                <label >Brown</label>

            </div>

            <div>
                <label for="botc5" class="labelform">Flower Color</label>

                <div class="form-group">
                    <label><input type="checkbox" name="botc5" value="White">White</label>
                    <label><input type="checkbox" name="botc5" value="Pink">Pink</label>
                    <label><input type="checkbox" name="botc5" value="Purple">Purple</label>
                    <label><input type="checkbox" name="botc5" value="Blue">Blue</label>
                    <label><input type="checkbox" name="botc5" value="Red">Red</label>
                    <label><input type="checkbox" name="botc5" value="Green">Green</label>
                    <label><input type="checkbox" name="botc5" value="Yellow">Yellow</label>
                    <label><input type="checkbox" name="botc5" value="Orange">Orange</label>
                    <label><input type="checkbox" name="botc5" value="Brown">Brown</label>
                    <label></label>
                </div>
    
                
            </div>


            <div>
                <label for="botc6" class="labelform">Flower Scent</label><br>
                <input type="radio" name="botc6" value="Pleasant">
                <label >Pleasant</label>
                <input type="radio"  name="botc6" value="Unpleasant">
                <label >Unpleasant</label>
                <input type="radio" name="botc6" value="No Fragrance">
                <label >No Fragrance</label>
                
            </div>

           

            <div>
                <label for="botc7" class="labelform">Flower Seasons</label>

                <div class="form-group">
                    <label><input type="checkbox" name="botc7" value="Spring">Spring</label>
                    <label><input type="checkbox" name="botc7" value="Winter">Winter</label>
                    <label><input type="checkbox" name="botc7" value="Summer">Summer</label>
                    <label><input type="checkbox" name="botc7" value="Fall">Fall</label>
                    <label><input type="checkbox" name="botc7" value="All year">All year</label>
                    
                    
                </div>
    
                
            </div>

            <div>
                <label for="botc8" class="labelform">Showiness</label><br>
                <input type="radio" name="botc8" value="Yes">
                <label >Yes</label>
                
                <input type="radio"  name="botc8" value="No">
                <label >No</label>
                
            </div>

            <div>
                <label for="botc9" class="labelform">Trunk Esthetic Value</label>

                <div class="form-group">
                    <label><input type="checkbox" name="botc9" value="Showy">Showy</label>
                    <label><input type="checkbox" name="botc9" value="Not showy">Not showy</label>
                    <label><input type="checkbox" name="botc9" value="Smooth texture">Smooth texture</label>
                    <label><input type="checkbox" name="botc9" value="Rough">Rough</label>
                    <label><input type="checkbox" name="botc9" value="Papery">Papery</label>
                    
                    
                </div>
    
                
            </div>

            <div>
                <label for="botc10" class="labelform">Number of Trunks</label><br>
                <input type="radio" name="botc10" value="Single">
                <label >Single</label>
                
                <input type="radio"  name="botc10" value="Multi">
                <label >Multi</label>
                
            </div>
            <div>
                <label for="botc11" class="labelform">Fruit Showiness</label><br>
                <input type="radio" name="botc11" value="Yes">
                <label >Yes</label>
                
                <input type="radio"  name="botc11" value="No">
                <label >No</label>
                
            </div>

            <div>
                <label for="botc12" class="labelform">Fruit Color</label>

                <div class="form-group">
                    <label><input type="checkbox" name="botc12" value="White">White</label>
                    <label><input type="checkbox" name="botc12" value="Pink">Pink</label>
                    <label><input type="checkbox" name="botc12" value="Purple">Purple</label>
                    <label><input type="checkbox" name="botc12" value="Blue">Blue</label>
                    <label><input type="checkbox" name="botc12" value="Red">Red</label>
                    <label><input type="checkbox" name="botc12" value="Green">Green</label>
                    <label><input type="checkbox" name="botc12" value="Yellow">Yellow</label>
                    <label><input type="checkbox" name="botc12" value="Orange">Orange</label>
                    <label><input type="checkbox" name="botc12" value="Brown">Brown</label>
                    <label><input type="checkbox" name="botc12" value="Gray">Gray</label>
                    <label><input type="checkbox" name="botc12" value="Black">Black</label>
                    
                </div>
    
                
            </div>
            <div>
                <label for="botc13" class="labelform">Fruit Size</label><br>
                <input type="radio" name="botc13" value="0-1.5m">
                <label>0-0.5m</label>
                <input type="radio"  name="botc13" value="1.5-3m">
                <label>1.5-3m</label>
                <input type="radio" name="botc13" value="3-7m">
                <label>3-7m</label>
                <input type="radio" name="botc13" value="7-10m">
                <label>7-10m</label>
                <input type="radio" name="botc13" value="10-20m">
                <label>10-20m</label>
                <input type="radio" name="botc13" value=">20m">
                <label>>20m</label>

            </div>

            <div>
                <label for="botc14" class="labelform">Seasons</label>

                <div class="form-group">
                    <label><input type="checkbox" name="botc14" value="Spring">Spring</label>
                    <label><input type="checkbox" name="botc14" value="Winter">Winter</label>
                    <label><input type="checkbox" name="botc14" value="Summer">Summer</label>
                    <label><input type="checkbox" name="botc14" value="Fall">Fall</label>
                    <label><input type="checkbox" name="botc14" value="All year">All year</label>
                    
                    
                </div>
    
                
            </div>

            <div>
                <label for="botc15" class="labelform">Fruit Type</label><br>
                <input type="radio" name="botc11" value="Dry">
                <label >Dry</label>
               
                
                <input type="radio"  name="botc15" value="Fleshy">
                <label >Fleshy</label>
                
            </div>




        
       

            
  
   



    
        <button type="submit" id = "add">Submit</button>
    </form>
</div>
            


    

    

    

