<div>
    <!-- input commonName or ScientificName form and search-->
    <h3>Search for Plants</h3>
    <form action="/SearchByName" method="post">
        <!-- label -->
        <div class="form-group">
        <label for="commonName">Search By Common Name</label>
        <input class="form-control" type="text" name="searchCommon" placeholder="Enter name ...">
        </div>

        <div class="form-group">
        <label for="commonName">Search By Scientific Name</label>

        <input class="form-control" type="text" name="searchScientific" placeholder="Enter name ...">
        </div>
        <input type="submit" class="btn btn-secondary" value="Search">
    </form>
    
</div>

<div class="alphaSearch">
    
    <h4>Search Plants Alphabetically</h4>
    <ul>
        <li>
            <a href="/SearchLetter/a">A</a>
        </li>
        <li>
            <a href="/SearchLetter/b">B</a>
        </li>
        <li>
            <a href="/SearchLetter/c">C</a>
        </li>
        <li>
            <a href="/SearchLetter/d">D</a>
        </li>
        <li>
            <a href="/SearchLetter/e">E</a>
        </li>
        <li>
            <a href="/SearchLetter/f">F</a>
        </li>
        <li>
            <a href="/SearchLetter/g">G</a>
        </li>
        <li>
            <a href="/SearchLetter/h">H</a>
        </li>
        <li>
            <a href="/SearchLetter/i">I</a>
        </li>
        <li>
            <a href="/SearchLetter/j">J</a>
        </li>
        <li>
            <a href="/SearchLetter/k">K</a>
        </li>
        <li>
            <a href="/SearchLetter/l">L</a>
        </li>
        <li>
            <a href="/SearchLetter/m">M</a>
        </li>
        <li>
            <a href="/SearchLetter/n">N</a>
        </li>
        <li>
            <a href="/SearchLetter/o">O</a>
        </li>
        <li>
            <a href="/SearchLetter/p">P</a>
        </li>
        <li>
            <a href="/SearchLetter/q">Q</a>
        </li>
        <li>
            <a href="/SearchLetter/r">R</a>
        </li>
        <li>
            <a href="/SearchLetter/s">S</a>
        </li>
        <li>
            <a href="/SearchLetter/t">T</a>
        </li>
        <li>
            <a href="/SearchLetter/u">U</a>
        </li>
        <li>
            <a href="/SearchLetter/v">V</a>
        </li>
        <li>
            <a href="/SearchLetter/w">W</a>
        </li>
        <li>
            <a href="/SearchLetter/x">X</a>
        </li>
        <li>
            <a href="/SearchLetter/y">Y</a>
        </li>
        <li>
            <a href="/SearchLetter/z">Z</a>
        </li>
        
        
    </ul>

</div>