<div class="category">
    <!--Show 6 cards with images and clickable-->
    
       
                <a href="/SearchCategory/Fragant">
                    <div class="cardCat">
                        <img src="/images/fragant.jpeg">
                        <h4>Fragant Plants</h4>
                        
                    </div>
                </a>
         
                <a href="/SearchCategory/Flowering">
                    <div class="cardCat">
                        <img src="/images/Flowering.jpeg">
                        <h4>Flowering Plants</h4>
                       
                    </div>
                </a>
           
          
                <a href="/SearchCategory/Edible">
                    <div class="cardCat">
                        <img src="/images/Edible.jpeg">
                        <h4>Edible Plants</h4>
                       
                    </div>
                </a>
        
                <a href="/SearchCategory/Arid">
                    <div class="cardCat">
                        <img src="/images/Arid.jpeg">
                        <h4>Plants For Arid Regions</h4>
                       
                    </div>
                </a>
          
                <a href="/SearchCategory/Shade">
                    <div class="cardCat">
                        <img src="/images/Shade.jpeg">
                        <h4>Plants For Shade</h4>
                       
                    </div>
                </a>
            
                <a href="/SearchCategory/Ground">
                    <div class="cardCat">
                        <img src="/images/Groundcover.jpeg">
                        <h4>Ground Covers</h4>
                       
                    </div>
                </a>
        
    
    
</div>