* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 1150px;
    margin: 0px auto;
    padding: 0px;
    font: 14px Arial;
}


main{
   
    display: table;
    width: 100%;
    height: auto;
    
}


a {
    text-decoration: none;
}

img {
    border: 0;
}

.clear {
    clear: both;
    height: 80px;
    opacity: 0;
}

.clear2 {
    clear: both;
    opacity: 0;
}

.inline {
    display: inline !important;
}

.left {
    float: left;
}

header {
    width: 100%;
    height: 180px;
    background: url('../images/header-bg.jpg') no-repeat center center;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
    align-items: flex-end;
    
    width: 1150px;
    height: 250px;
    background: url(../images/footer-bg-colored.png) no-repeat;
    position: absolute;
    z-index: -100;
}

.logo {
    display: block;
    float: left;
    margin-top: 25px;
    margin-left: 60px;
    font-family: Arial;
    line-height: 1.4;
}

header .logo .fontsmall {
    display: block;
    color: #000;
    font-size: 13px;
}

header .logo .fontnormal {
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

header .logo .fontbig {
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

nav {
    width: 400px;
    float: left;
}

.navh {
    display: block;
    float: left;
    margin-top: 25px;
    padding-left: 50px;
}

.navh li {
    
    margin-right: 20px;
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
    list-style: none;

}
.navh li a {
    color: black;
}
.navh li a:hover {
    color: #0099FF;
}

.navh li:hover {
    color: #0099FF;
    background: url('../images/blue_arrow.png') no-repeat left center;
    padding-left: 20px;
}

.spotlight {
    width: 400px;
    float: left;
    padding-left: 50px;
}



.spotlight .spotlight-title {
    display: block;
    float: left;
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
}

.searchCards ul li {
    list-style: none;
    margin-bottom: 10px;
    
}

/*50px between cards in searchCards*/
.searchCards ul li:nth-child(2n+1) {
    margin-left: 50px;
}

.searchCards{
    
    display:block;
    

}


.card{
  
    text-align: center;
    width: 200px;
    height: 280px;
    float: left;
    padding: 20px;
    
    color: black;
    font-size: 12px;

   
    margin-top: -70px;
    /* white background and border black*/
    background: #fff;
    border: 1px solid #000;
   
    /*padding between cards*/
    margin-left: 10px;
    margin-bottom: 50px;
    

    
    

}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.flex2 {
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;

}
.flex3{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.about h4 {
    color: #0099FF;
}

.alphaSearch h4{
    color: #0099FF;

}

.alphaSearch ul li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding-left: 10px;
   
}
.alphaSearch a{
    color: black;
}


.navfoot{
    width: 600px;
    height: 40px;
    float: right;
    margin-right: 88px;
    clear: both;
    background: url(../images/hr.png) no-repeat right bottom;
    margin-bottom: 50px;
}

.navfoot ul li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding-left: 10px;
   
   
}

.navfoot a{
    color: white;
    

}

.box{
  /* Border around text and place title in border*/
    border: 1px solid #000;
    width: 700px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px;
    color: black;
    font-size: 12px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 50px;
   
}

.useful-links a{ 
    color: black;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding-left: 10px;
   

}
.useful-links a:hover{
    color:#5faa45
}

.useful-links h2 {
    color:#5faa45
}


